.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'JetBrains Mono', monospace;
    font-size: 3em;
    margin: 0.5em 0;
    opacity: 0;
    transform: translateY(50%);
    transition-property: transform opacity;
    transition-duration: 200ms;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }
}
