body {
    background-color: hsl(220, 14%, 15%);
    color: white;
    margin: 0;
}

.noscript {
    display: none;

    font-family: 'JetBrains Mono', monospace;
    color: white;
    font-size: 3em;
    position: relative;
    height: 100vh;
    width: 100vw;
    word-wrap: break-word;
}

.noscript > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.a {
    width: 100%;
    height: calc(100vh - 3em);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
}
@keyframes b {
    0% {
        background-color: #ffffff;
    }
    50%,
    100% {
        background-color: #808080;
    }
}
.c {
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background-color: #202020;
    color: #202020;
    animation: b 0.5s infinite linear alternate;
    animation-delay: 0.25s;
}
.c::before,
.c::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background-color: #202020;
    color: #202020;
    animation: b 0.5s infinite alternate;
}
.c::before {
    left: -1.5em;
    animation-delay: 0s;
}
.c::after {
    left: 1.5em;
    animation-delay: 0.5s;
}
